@using AutoParts4Sale.Core
@model Autopart

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <h5>Price: @Model.Price</h5>
        <span>Date Added: @Model.DateAdded</span>
        <br />
    </div>
    <div class="card-footer">
        <a class="btn btn-lg"
           asp-page="./Details"
           asp-route-id="@Model.Id">
            <i class="fa fa-search-plus"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-id="@Model.Id">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>