@using AutoParts4Sale.Core
@model Article

<div class="card">
    <div class="card-body">
        <h2 class="card-title text-center">@Model.Name</h2>
        <h5 class="text-center">@Model.Summary</h5>
        <br />
    </div>
    <div class="card-footer">
        <a class="btn btn-lg"
           asp-page="./Details"
           asp-route-id="@Model.Id">
            <i class="fa fa-search-plus"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-id="@Model.Id">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>